<div class="grid">
  <div class="card" id="systemCard" style="grid-column: 1 / -1; grid-row: 1 / -1; min-height: calc(100% - 24px);">
    <div class="title">System</div>
    <div class="row">
      <div class="kpi">
        <div class="label">CPU</div>
        <div class="val" id="cpuLoad">-%</div>
        <div class="progress"><div id="cpuBar"></div></div>
      </div>
      <div class="kpi">
        <div class="label">CPU Temp</div>
        <div class="val" id="cpuTemp">-</div>
      </div>
      <div class="kpi">
        <div class="label">Memory</div>
        <div class="val" id="memUsed">-</div>
        <div class="progress"><div id="memBar"></div></div>
      </div>
    </div>
    <div class="row" style="margin-top:8px;">
      <div class="kpi">
        <div class="label">Net Down</div>
        <div class="val" id="netDown">-</div>
      </div>
      <div class="kpi">
        <div class="label">Net Up</div>
        <div class="val" id="netUp">-</div>
      </div>
    </div>
  </div>
</div>
